[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sdmpredictors"]
	path = sdmpredictors
	url = https://github.com/lifewatch/sdmpredictors
